# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

__pycache__
.cache
*.pyc

*.log
*.pcap
*.pdb

*~

build
third_party/googletest
third_party/PipeWire
third_party/FlameGraph
third_party/LLVM
third_party/Skia
third_party/Tesseract
third_party/Leptonica
third_party/depot_tools
third_party/*.tar.xz
third_party/*.tar.gz
third_party/libXau-*
third_party/libxcb-*
third_party/util-macros-*
third_party/xcb-proto-*
third_party/xorgproto-*
third_party/xcb-util-cursor-*
third_party/*.patched

tmp

.gdb_history

tests/dhclient
tests/dhclient.pid

source_images

compile_commands.json

www/assets
www/builds

perf.data
perf.data.old
palette.map
