html {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-size: 21px;
  background: #dfddd3;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

body {
  max-width: 30em;
  margin: clamp(0em, calc((94% - 30em) / 2), 1em) auto;
  padding: 1em 3%;
  background: white;
  box-shadow: .5em .5em 0 rgba(0, 25, 50, 0.5);
}

ul {
  list-style: '❧ ';
}

p,
li {
  max-width: 30em;
}

li {
  margin-block-start: .5em;
  margin-block-end: .5em;
}