[Unit]
Description=Release a new version of the Automat

[Service]
Type=oneshot
ExecStart=%Y/release.py --pull_and_restart
LoadCredential=GITHUB_TOKEN:/etc/credstore/GITHUB_TOKEN
WorkingDirectory=%Y/../

[Install]
WantedBy=release.timer
